* {
    margin: 0;
    padding: 0;
   

}
body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

header{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 300px; 
    

}
.menu{

    
    width: 100%;
    height: 70px; 
    display: flex;
    flex-direction:row;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 100px;
    background-color: rgba(35, 185, 226, .9);

}
#linkCabeçalho{
    color: beige;
    font-size: 20px;
    text-decoration:none;
    list-style-type: none;
    background-color:rgba(35, 185, 226, .9);
    
}
.nav{
    width: 90%;
}


.banner{
    
    width: 100%;
    height: 250px;
}

main{
    
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
}
.section1{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px;

}
.section1Contaier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.section1Titulo{

 width: 700px;
 height: 200px; 
 color: rgba(35, 185, 226, .9);
 position: relative;
 font-size: 25px;
}

.ContainerCards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.card{
   
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    
    
    
}

.SubTitulo{
    font-size: 30px;
    color: rgba(35, 185, 226, .9);
    padding-top: 10px;
}
.TextoCards{
   color: rgb(126, 122, 122);
   padding-top: 20px;
}   

.section2{
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 200px;
    justify-content: space-evenly;
    height: 700px;
    
}
.section2Container1{
    border: solid 1px black;
    height: 250px;
    width: 200px;
}
.section2Container2{
    border: solid 1px black;
    height: 250px;
    width: 200px;
}
.section3{
    border: solid 1px black;
    display: flex;
    width: 100%;
    height: 200px;
    
}


footer{
    border: solid 1px black;
    display: flex;
    width: 100%;
    height: 100px;
}